
.layout-responsivo#viewport {
  position: relative;
  padding: 1% 1%;

  #header {
    background: #22FF77;
    margin: 1% 0 0;
    z-index: 1;
    padding: 0.5% 0;

    .logo {
      img {
        width: 95%;
      }
    }
    ul {
      margin: 0;
      padding: 0 1% 0 0;
      list-style-type: none;
      li {
        display: inline;
      }
    }
    .titulo-curso {
      text-align: left;
    }
    .titulo-modulo {
      @extend .font9-5;
      text-align: left;
      padding-right: 1%;
      i {
        float: right;
        margin-top: 1%;
      }
    }
    .titulo-unidade {
      @extend .font9-5;
      text-align: left;
    }
    .header-controls {
      -webkit-border-radius: 4vh;
      -moz-border-radius: 4vh;
      border-radius: 4vh;
      background-color: #ffffff;
      width: 44%;
      height: 4vh;
      text-align: center;
      margin: auto;
      button {
        background: none;
        border: none;
        color: #5d5e5e;
        padding: 0;
        margin: 0;
        margin-top: -5%;
      }
    }

    h1 {
      margin: 0;
      margin-bottom: 0.2em;
    }
  }

  #footer {
    background: #22FF77;
    bottom: 6%;
    width: 97%;
    z-index: 1;
    border-top: 1px solid #FCE2AB;
    border-bottom: 1px solid #FCE2AB;
    padding: 0.5% 0;
    position: absolute;
    .row {
      margin: 0;
      height: 100%;
    }
  }
  #header, #footer, {
    background-color:#00c0f3;
  }
  #acessibilidade {
    margin-bottom: 1%;
  }

  #ajuda {
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      float: left;
      li {
        display: inline;
        height: 6vh;
        button {
          height: 6vh;
          width: 6vh;
          background: none;
          border: none;
          color: white;
          padding: 0;
        }
        #guia-aprendiz {
          background-image: url('../img/guia-aprendiz.png');
          background-size: cover;
          &:hover {

          }
        }
        #mapa-site {
          background-image: url('../img/btn-mapa.png');
          background-size: cover;
          &:hover {

          }
        }
      }
    }

  }
  #navigation {
    ul {
          list-style-type: none;
          margin: 0;
          padding: .3vh .5vh;
          width: 18vh;
          background-color: #ffffff;
          float: right;
          border-radius: 3vh;
      li {
        display: inline;
        margin-right: 1vh;
        button {
            height: 3vh;
            width: 3vh;
            max-width: 100%;
            max-height: 100%;
            text-align: center;
            padding: 1vh 0;
            font-size: 3vh;
            line-height: 0;
            border-radius: 50%;
            color: #FFA617;
          &:hover {
            background-color: #FFA617;;
            color: #FFFFFF;
          }
        }
        input {
          font-size: 2vh;
          text-align: center;
          height: 4vh;
          width: 9vh;
          border: 0px solid;
        }
      }
    }
  }

  .content {
    header {
      padding: 1.5% 1%;
    }
    section.conteudo {
    }
  }

  .font18 {
    font-size: 2rem;
  }
  .font16 {
    font-size: 1.777rem;
  }
  .font14 {
    font-size: 1.555rem;
  }
  .font12 {
    font-size: 1.333rem;
  }
  .font10 {
    font-size: 1.111rem;
  }
  .font9-5 {
    font-size: 1.055rem;
  }
  .font9 {
    font-size: 1rem;
  }

  .vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
  }
  .vertical-align {
    display: flex;
    align-items: center;
  }

  .stretchy-wrapper-conteudo {
    width: 100%;
    padding-bottom: 58.25%; /* 16:9 */
    position: relative;
    .innerdiv {
      position: absolute;
      top: 0; bottom: 0; left: 0; right: 0;
    }
  }

}



