@font-face {
  font-family: robotoRegular;
  src: url('../fonts/Roboto-Regular.woff');
}

@font-face {
  font-family: robotoLight;
  src: url('../fonts/Roboto-Light.woff');
}

@font-face {
  font-family: robotoBold;
  src: url('../fonts/Roboto-Bold.woff');
}

.robotoLight {
  font-family: robotoLight;
}

.robotoBold {
  font-family: robotoBold;
}

.robotoRegular {
  font-family: robotoRegular;
}

html, body {
  //overflow-x: scroll !important;
  //overflow-y: scroll !important;
  overflow: hidden;
  font-family: Calibri;
  font-size: 9pt;
  margin: auto;
}

.layout-caixa#viewport {
  height: 100vh;
  width: 130vh;
  min-height: 660px;
  min-width: 900px;
  padding: 1vh 0 4vh 0;
  margin: auto;

  #header {
    height: 13%;
    background: #22FF77;
    position: relative;
    z-index: 1;
    .row {
      margin: 0;
      height: 100%;
    }
    .col {
      padding: 0;
    }
    .logo {
      padding: 1%;
      img {
        width: 100%;
      }
    }
    ul {
      margin: 0;
      padding: 0;
      list-style-type: none;
      li {
        display: inline;
      }
    }
    .titulo-curso {
      text-align: left;
    }
    .titulo-modulo {
      @extend .font9-5;
      text-align: left;
      padding-right: 1%;
      i {
        float: right;
        margin-top: 1%;
      }
    }
    .titulo-unidade {
      @extend .font9-5;
      text-align: left;
    }
    .header-controls {
      -webkit-border-radius: 4vh;
      -moz-border-radius: 4vh;
      border-radius: 4vh;
      background-color: #9D9FA1;
      width: 55%;
      height: 4vh;
      text-align: center;
      margin: auto;
      button {
        background: none;
        border: none;
        color: white;
        padding: 0;
        margin: 0;
        margin-top: -3%;
      }
    }

    h1 {
      margin: 0;
    }
  }

  #footer {
    height: 8%;
    background: #22FF77;
    position: relative;
    z-index: 1;
    border-top: 1px solid #FCE2AB;
    border-bottom: 1px solid #FCE2AB;
    padding: 0.5% 0;
    .row {
      margin: 0;
      height: 100%;
    }
    .left-controls {
      button {
        height: 4vh;
        width: 4vh;
        background: none;
        border: none;
        color: white;
        padding: 0;
        margin: 5% 0 0 0;
      }
      #guia-aprendiz {
        background-image: url('../img/guia-aprendiz.png');
        background-size: cover;
        &:hover {
          background-image: url('../img/guia-aprendiz-hover.png');
        }
      }
      #mapa-site {
        background-image: url('../img/btn-mapa.png');
        background-size: cover;
        &:hover {
          background-image: url('../img/btn-mapa-hover.png');
        }

      }
    }
    .right-controls {
      -webkit-border-radius: 4vh;
      -moz-border-radius: 4vh;
      border-radius: 4vh;
      background-color: #9D9FA1;
      width: 100%;
      height: 6vh;
      text-align: center;
      margin: auto;
      padding: 0 2% 0 0.5%;
      button {
        background: none;
        border: none;
        color: white;
        padding: 0;
        margin: 0;
        span {
          i {
            font-size: 6vh;
          }
          .fa-circle {
            color: #FFA617;
          }
        }
        &:hover {
          span .fa-circle {
            color: #FFFFFF;
          }
          span .fa-chevron-circle-right, span .fa-chevron-circle-left {
            color: #FFA617;
          }
        }
      }
      input {
        width: 63%;
        height: 3vh;
        border: none;
        border-radius: 4vh;
        background-color: rgb(87, 87, 87);
        margin: 0 2% 0 7%;
      }
      #anterior {
        text-align: left;
      }
      #proximo {
        text-align: rigth;
      }
    }
  }

  #header, #footer, {
    background: #DAE2F5;
    background: -webkit-linear-gradient(#F5F8FE, #DAE2F5);
    background: -o-linear-gradient(#F5F8FE, #DAE2F5);
    background: -moz-linear-gradient(#F5F8FE, #DAE2F5);
    background: linear-gradient(#F5F8FE, #DAE2F5);
  }

  .content {
    display: table;
    width: 100%;
    height: 79%;
    padding: 0 1%;

    //padding: 80px 0 60px 0;
    //margin: -80px 0 -60px 0;
  }

  .font18 {
    font-size: 2rem !important;
  }

  .font16 {
    font-size: 1.777rem !important;
  }

  .font14 {
    font-size: 1.555rem !important;
  }

  .font12 {
    font-size: 1.333rem !important;
  }

  .font10 {
    font-size: 1.111rem !important;
  }

  .font9-5 {
    font-size: 1.055rem !important;
  }

  .font9 {
    font-size: 1rem !important;
  }

  .font8 {
    font-size: 0.9rem !important;
  }

  .vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
  }
  .vertical-align {
    display: flex;
    align-items: center;
  }

}

.btn-circle {
}

.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}

.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 35px;
}


/*
* MAPA
*/
#tree-mapa .item {
  cursor: pointer;
  margin-bottom: 1em;
}
#tree-mapa  .bold {
  font-weight: bold;
  margin-bottom: 1em;

}
#tree-mapa  {
  padding-left: 1em;
  line-height: 1.5em;
  list-style-type: dot;
}

#tree-mapa .selected {
  color: blue !important;
  text-decoration: underline;
  font-weight: bold;
}

#tree-mapa .link-menu:hover {

  text-decoration: underline;
}