.layout-16-9#viewport {
/*  height: 98%;*/
  margin: auto;
  position: relative;
  max-width: 100%;
  max-height:100%;

  #header {
    background: #22FF77;
    position: relative;
    top: 0px;
    height:70px;
    width: 100%;
    z-index: 1;

    .logo {
        background-color: #004a80;
        height: 100%;
        //width: 10%;
        padding: 0 1%;
        text-align: center;
      img {
        max-width: 100%;
        max-height: 100%;
        margin: auto;
      }
    }
    ul {
      margin: 0;
      padding: 0 1% 0 0;
      list-style-type: none;
      li {
        display: inline;
      }
    }
    .titulo-curso {
      text-align: left;
    }
    .titulo-modulo {
      @extend .font9-5;
      text-align: left;
      padding-right: 1%;
      i {
        float: right;
        margin-top: 1%;
      }
    }
    .titulo-unidade {
      @extend .font9-5;
      text-align: left;
    }
    .header-controls {
      background-color: #fff;
      width: 29%;
      height: 22px;
      text-align: center;
      margin: auto;
      span:after{
        content: 'a';
      }
      button {
        background: none;
        border: none;
        color: #5d5e5e;
        padding: 0;
        margin: 0;
        margin-top: -5%;
      }
    }

    h1 {
      margin: 0;
      margin-bottom: 0.2em;
    }
  }

  #footer {
    background: #22FF77;
    bottom: 0%;
    width: 100%;
    height: 90px;
    z-index: 1;
    border-top: 1px solid #FCE2AB;
    border-bottom: 1px solid #FCE2AB;
    position: relative;
    .row {
      margin: 0;
      height: 100%;
    }
  }
  #header, #footer {
    background: #00c0f3;
  }
  #acessibilidade {
    margin-bottom: 1%;
  }

  #ajuda {
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      float: left;
      li {
        display: inline;
        height: 6vh;
        button {
          height: 6vh;
          width: 6vh;
          background: none;
          border: none;
          color: white;
          padding: 0;
        }
        #guia-aprendiz {
          background-image: url('../img/guia-aprendiz.png');
          background-size: cover;
        }

        #mapa-site {
          background-image: url('../img/btn-mapa.png');
          background-size: cover;
        }

        #biblioteca-virtual {
          background-image: url('../img/abc.png');
          background-size: cover;
        }
      }
    }

  }
  #navigation {
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        width: 42%;
        float: right;
      li {
        display: inline;
        margin-right: 1vh;
        button {
            height: 4vh;
            width: 4vh;
            max-width: 100%;
            max-height: 100%;
            text-align: center;
            padding:0;
            font-size: 3vh;
            line-height: 0;
            border-radius: 50%;
            background-color: #00c0f3;
            border: 2px solid white;
            color: #ffffff;
          &:hover {
            background-color: #00c0f3;
            color: #ffffff;
            background-color: rgba(255, 255, 255, 0.8);
          }
        }
        input {
          font-size: 2vh;
          text-align: center;
          height: 3.9vh;
          width: 9vh;
          border-top: 1px solid #ffffff;
          border-bottom: 1px solid #ffffff;
          border-left: 0px solid;
          border-right: 0px solid;
          background-color: #7cddf7;
        }
      }
    }

    .btn-nav {
      width: 33px;
      height: 32px;
      text-align: center;
      padding:0;
      line-height: 0;
      border-radius: 50%;
      background-color: #00c0f3;
      border: 2px solid white;
      color: #ffffff;
      &:hover {
        background-color: #00c0f3;
        color: #ffffff;
        background-color: rgba(255, 255, 255, 0.7);
        cursor: pointer;
      }
    }

    .box-desc {
      text-align: center;
      width: 46%;
      border-top: 1px solid #fff;
      border-bottom: 1px solid #fff;
      border-left: 0 solid;
      border-right: 0 solid;
      background-color: #7cddf7;
      padding: 1.3% 0;
    }
  }

  .content {
    width: 100%;
    /*top: 70px;*/
    padding-bottom: 38.7%; /* 16:9 */
    position: relative;
    #tela {
      position: absolute;
      top: 0; bottom: 0; left: 0; right: 0;

      .innerdiv{
        width: 100%;
        height: 100%;
        position: absolute;
      }
    }
    header {
      padding: 1.5% 1%;
    }
    section.conteudo {
    }
  }

  .font18 {
    font-size: 2rem;
  }
  .font16 {
    font-size: 1.777rem;
  }
  .font14 {
    font-size: 1.555rem;
  }
  .font12 {
    font-size: 1.333rem;
  }
  .font10 {
    font-size: 1.111rem;
  }
  .font9-5 {
    font-size: 1.055rem;
  }
  .font9 {
    font-size: 1rem;
  }

  .vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
  }
  .vertical-align {
    display: flex;
    align-items: center;
  }

  .stretchy-wrapper-conteudo {
    //width: 100%;
    ///*top: 70px;*/
    //padding-bottom: 38.6%; /* 16:9 */
    //position: relative;
    //.innerdiv {
    //  position: absolute;
    //  top: 0; bottom: 0; left: 0; right: 0;
    //}
  }

  .dead {
    background-color: rgb(221, 221, 221) !important;
  }

  .txt-block {
    .btn-nav {
      width: 33px;
      height: 32px;
      text-align: center;
      padding:0;
      line-height: 0;
      border-radius: 50%;
      border: 2px solid white;
      color: #ffffff;
      &:hover {
        background-color: #00c0f3;
        color: #ffffff;
        background-color: rgba(255, 255, 255, 0.7);
        cursor: pointer;
      }
    }

    .box-desc {
      text-align: center;
      width: 46%;
      border-top: 1px solid #fff;
      border-bottom: 1px solid #fff;
      border-left: 0 solid;
      border-right: 0 solid;
      background-color: #7cddf7;
      padding: 1.3% 0;
    }
  }

  .recuo {
    margin-left: 3%;
  }

  .btn-ativ {
    &:hover {
      opacity:0.8;
    }
  }

  .opaBtn {
    opacity:0.6;
    border:2px solid #ffffff;
  }

  .grey {
    background-color:rgb(150, 153, 154);
  }
}