section.content {

  h1, h2, h3, h4, h5, p {
    margin: 0;
  }
  p {
    text-align: justify;
    margin-bottom: 1em;
    line-height: 1.5em;
  }

  img.conteudo {
    max-height: 100%;
    width: 100%;
    margin: auto;
  }

  hr.sep {
    border: none;
    margin: 30px 0 0 0;
  }

  .imagem {
    text-align: center;
  }
  .texto {
    text-align: justify;
  }

}



