.bg-r {
  background-color: #F9562B;
}

.bg-g {
  background-color: #158932;
}

.bg-b {
  background-color: #00c0f3;
}

.bg-img-f {
  background-size: 100% 100%;
}

.c-w {
  color: #FFFFFF;
}